<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>loginPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.restaurant.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.restaurant.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.restaurant.controller.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminFirstPage</servlet-name>
    <servlet-class>com.restaurant.controller.AdminFirstPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFirstPage</servlet-name>
    <url-pattern>/AdminFirstPage</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelectUser</servlet-name>
    <servlet-class>com.restaurant.controller.SelectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUser</servlet-name>
    <url-pattern>/SelectUser</url-pattern>
  </servlet-mapping>
</web-app>
